
body,html{

}

body{ background-image: url("Images/PpBackground.png");
	
} 
div.side-div{
	background-color: #003399;
	border: 2px solid #a1a1a1;
	border-radius: 25px;
	padding: 10px 40px; 
	float: left;
	height: 1000px;
	width: 10%;
}
a{
	color:#000000;
}
img.project{
	 width:304px;
	 height:528px;
}
img.spaceImg{
	 width:804px;
	 height:300px;
}

div.slideshow{
	width:300px;
	height:300px;
}
div.slideshow2{
	width:300px;
	height:300px;
	left:100px;
}

div.nav-border{
	border-bottom: solid;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.neilImg{
	
	width:500px;
	height:700px;
}
.neilWideImg{
	
	width:1000px;
	height:500px;
}
.center { 
	width: 600px; 
	height: 800px;
    margin-left: auto;
    margin-right: auto;
	display: block
 }